.wrapper {
  width: 100%;
  height: 100%;
}

body {
  background-image: url("https://i.pinimg.com/originals/ff/d0/e7/ffd0e70154dc8d1b328829986ec9dc3c.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
